* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

#title {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

#add_form {
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid pink;
    background-color: white;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_field_container {
    width: 100%;
    margin-bottom: 15px;
}

.form_field_container > label,
.form_field_container > input {
    display: block;
}

.input_label {
    padding: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form_field {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    margin: auto;
    padding: 10px;
}

.form_submit_button {
    padding: 10px;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: pink;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in;
    font-size: 1rem;
}

.form_submit_button:hover {
    background-color: #ff6666;
    transition: 0.2s ease-out;
}

#add_form_container {
    display: flex;
    justify-content: center;
}

#todo_list {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid pink;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 400px;
}

#todo_list ul {
    list-style-type: none;
    padding: 0;
}

#todo_list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
}

#todo_list li:last-child {
    border-bottom: none;
}

.list_item_button {
    background-color: pink;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
    float: right;
    margin-top: 10px;
    font-size: 1rem;
}

.list_item_button:hover {
    background-color: #ff6666;
    transition: 0.2s ease-out;
}

.list_item_buttons_container {
    display: grid;
}

.list_item_content {
    word-break: break-word;
    white-space: normal;
}