#add_form {
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid pink;
  background-color: white;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}